<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout-admin :: layout-admmin(~{::title},~{::main})}"
>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<main class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Users</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <a th:href="@{/admin/users(action=add)}" class="btn btn-danger mb-2"><i
                                    class="mdi mdi-plus-circle mr-2"></i> Add User</a>
                        </div>
                        <div class="col-sm-8">

                        </div><!-- end col-->
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="products-datatable_length"><label>Display <select
                                    class="custom-select custom-select-sm ml-1 mr-1">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="-1">All</option>
                            </select> users</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="products-datatable_filter" class="dataTables_filter"><label>Search:<input
                                    type="search" class="form-control form-control-sm" placeholder=""
                                    aria-controls="products-datatable"></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm table-centered mb-1">
                                <thead class="thead-light">
                                <tr role="row">
                                    <th>#</th>
                                    <th>Họ tên</th>
                                    <th>Giới tính</th>
                                    <th>Ngày sinh</th>
                                    <th>Địa chỉ</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Chức vụ</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="odd" th:each="user : ${list}" th:object="${user}">
                                    <td th:text="*{code}"></td>
                                    <td th:text="*{name}"></td>
                                    <td th:text="*{gender}"></td>
                                    <td th:text="${user.dOB}"></td>
                                    <td th:text="*{address}"></td>
                                    <td th:text="*{email}"></td>
                                    <td th:text="*{phone}"></td>
                                    <td th:text="*{role}"></td>
                                    <td class="table-action">
                                        <a th:href="@{/admin/users(action='update',id=*{id})}"
                                           class="action-icon">
                                            <i
                                                    class="mdi mdi-square-edit-outline"></i></a>
                                        <a href="" class="action-icon" th:onclick="deleteUser([[*{id}]])"> <i
                                                class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers"
                                 id="products-datatable_paginate">
                                <ul class="pagination pagination-rounded">
                                    <li class="paginate_button page-item previous"
                                        id="products-datatable_previous"><a href="#"
                                                                            aria-controls="products-datatable"
                                                                            data-dt-idx="0" tabindex="0"
                                                                            class="page-link"><i
                                            class="mdi mdi-chevron-left"></i></a></li>
                                    <li class="paginate_button page-item "
                                        th:each="i : ${#numbers.sequence(1,totalPages)}"
                                        th:classappend="${currentPage == i ? 'active' : ''}"
                                    >
                                        <a class="page-link"
                                           th:href="@{/admin/users(action='list',page=${i})}"
                                           th:text="${i}"
                                        ></a>
                                    </li>
                                    <li class="paginate_button page-item next disabled"
                                        id="products-datatable_next"><a href="#"
                                                                        aria-controls="products-datatable"
                                                                        data-dt-idx="4" tabindex="0"
                                                                        class="page-link"><i
                                            class="mdi mdi-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
</main>
</body>
</html>