<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="left-side-menu mm-show" th:fragment="admin-menu">

    <!-- LOGO -->
    <a href="#" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img th:src="@{/assets/images/logo.png}" alt="" height="16">
                    </span>
        <span class="logo-sm">
                        <img th:src="@{/assets/images/logo_sm.png}" alt="" height="16">
                    </span>
    </a>

    <!-- LOGO -->
    <a href="#" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img th:src="@{/assets/images/logo-dark.png}" alt="" height="16">
                    </span>
        <span class="logo-sm">
                        <img th:src="@{/assets/images/logo_sm_dark.png}" alt="" height="16">
                    </span>
    </a>

    <div class="h-100 mm-active" id="left-side-menu-container" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;">
                        <div class="simplebar-content" style="padding: 0px;">

                            <!--- Sidemenu -->
                            <ul class="metismenu side-nav mm-show">

                                <li class="side-nav-title side-nav-item">Navigation</li>

                                <li class="side-nav-item">
                                    <a href="javascript: void(0);" class="side-nav-link">
                                        <i class="uil-home-alt"></i>
                                        <span> Dashboards </span>
                                    </a>
                                </li>

                                <li class="side-nav-title side-nav-item">Apps</li>
                                <li class="side-nav-item">
                                    <a th:href="@{/admin/users(action='list')}" class="side-nav-link">
                                        <i class="uil-home-alt"></i>
                                        <span> Users </span>
                                    </a>
                                </li>
                                <li class="side-nav-item">
                                    <a th:href="@{/admin/products(action='list')}" class="side-nav-link">
                                        <i class="uil-home-alt"></i>
                                        <span> Products </span>
                                    </a>
                                </li>
                                <li class="side-nav-item">
                                    <a th:href="@{/admin/categories(action='list')}" class="side-nav-link">
                                        <i class="uil-home-alt"></i>
                                        <span> Categories </span>
                                    </a>
                                </li>
                                <li class="side-nav-item">
                                    <a th:href="@{/admin/orders(action='list')}" class="side-nav-link">
                                        <i class="uil-home-alt"></i>
                                        <span> Orders </span>
                                    </a>
                                </li>
                            </ul>

                            <!-- Help Box -->

                            <!-- end Help Box -->
                            <!-- End Sidebar -->

                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 141px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
            <div class="simplebar-scrollbar"
                 style="height: 0px; transform: translate3d(0px, 0px, 0px); display: none;"></div>
        </div>
    </div>
    <!-- Sidebar -left -->
</div>
</body>
</html>