<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout-web :: layout-web(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
</head>
<body>
<main class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Đổi mật khẩu</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <form action="" id="form-change-password" method="post">
                            <div class="form-group">
                                <label>Mật khẩu cũ</label>
                                <input
                                        class="form-control"
                                        type="password"
                                        placeholder="Enter your password"
                                        name="oldPassword"
                                />
                                <span class="text-danger d-none" id="error-old_password"></span>
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                <input
                                        class="form-control"
                                        type="password"
                                        placeholder="Enter new password"
                                        name="newPassword"
                                />
                                <span class="text-danger d-none" id="error-new_password"></span>
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu mới</label>
                                <input
                                        class="form-control"
                                        type="password"
                                        placeholder="Confirm new password"
                                        name="confirm_password"
                                />
                                <span class="text-danger d-none" id="error-confirm_password"></span>
                            </div>
                            <div>
                                <input type="text" th:value="${session.user.name}" class="d-none" name="email"/>
                            </div>
                            <div class="form-group mb-0 text-center">
                                <button
                                        class="btn btn-primary btn-block w-50"
                                        type="submit"
                                >
                                    <i class="mdi mdi-textbox-password"></i> Đổi mật khẩu
                                </button>
                            </div>
                            <!-- social-->
                        </form>
                    </div>
                    <div class="col-3"></div>
                    <!-- end row -->
                </div>
                <!-- end card-body-->
            </div>
            <!-- end card-->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</main>
</body>
</html>